<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <small class="author">
                        {{this.User.fullName}}
                    </small>
                    <small class="date">
                        {{this.date}}
                    </small>

                    <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                    </div>
                </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>
