<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h3>Details {{this.user.fullName}}</h3>
                </header>
                    <p>
                        <b>Full Name: {{user.fullName}}</b>
                    </p>
                    <p>
                        <b>email: {{user.email}}</b>
                    </p>
                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>