<div class="container body-content">
    <div>
        <header>
            <h1>My Articles</h1>
        </header>
    </div>
    <div class="pull-right">
        <a class="btn btn-default btn-xs" href="/">Back</a>
    </div>
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>{{this.content}}
                    </p>

                    <small>
                        {{this.date}}
                    </small>
                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="/article/edit/{{this.id}}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/article/delete/{{this.id}}">Detele</a>
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>